body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .left, .navbar .right {
    display: flex;
    align-items: center;
}
.navbar .left .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
.navbar .left a, .navbar .right a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.navbar .right a {
    color: white;
}
.navbar .right .rewards {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}
.navbar .icons {
    display: flex;
    align-items: center;
}
.navbar .icons a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.navbar .icons img {
    width: 24px;
    height: 24px;
}
.navbar .icons .cart {
    display: flex;
    align-items: center;
}
.navbar .icons .cart span {
    margin-left: 5px;
}
.navbar .icons #search_box {
    margin-left: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.j_text {
    width: 31%;
    margin-left: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    background-color: #f9f9f9;
    margin-left: 24px;
    width: 80%;
}
.book-card img {
    border-radius: 5px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
.book-info {
    max-width: 600px;
}
.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.book-author, .book-listens {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}
.book-description {
    font-size: 0.9em;
    color: #333;
}
a {
    color: #333;
}
a:link{
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
    color: red;
}