    <footer class="bg-beige text-white mt-6 p-4 ">
        <div class="container-xl color">
            <div class="row foot">
                <div class="col-md-3">
                    <h5><span>TK BOOKS</span></h5> <br>
                    <a><span>Học viện CNBCVT</span></a><br>
                   
                    <a href="" style = "color: white;">Nguyễn Minh Đức</a><br>
                    <a>B23DCCC042</a>

                </div>
                <div class="col-md-3">
                    <h5>Liên hệ</h5><br>
                    <a>Email: vvv@project.com</a><br>
                    <a>Số điện thoại: 123-456-789</a><br>
                </div>
                <div class="col-md-3">
                    <h5>Mạng xã hội</h5><br>
                    <a href="#" class="text-white me-2">Facebook</a><i class = "fab fa-facebook-f"></i><br>
                    <a href="#" class="text-white me-2">Twitter</a><i class = "fab fa-twitter"></i><br>
                    <a href="#" class="text-white me-2">Instagram</a> <i class = "fab fa-instagram"></i><br>
                    <a href="#" class="text-white me-2">Linkedin</a><i class = "fab fa-linkedin"></i>
                </div>

                <div class="col-md-3 sign">
                    <h5>Hãy là người đầu tiên biết</h5><br>
                    <a>Đăng ký để nhận tin mới nhất</a>
                    <form action="">
                        <input type="text" class = "enter_email" placeholder="Điền email ở đây" style="font-size: 14px; text-align: center;"><br>
                        <button style="font-size: 14px;">Đăng ký</button>
                    </form>
                </div>
            </div>



            <div class="row mt-3">
                <div></div>


                <div class="col-12">
                    <p class="mb-0">&copy; 2024 Bởi Nguyễn Minh Đức.</p>
                </div>
            </div>
        </div>
    </footer>
