<nav class="navbar navbar-expand-lg bg-black sticky-top nar" data-bs-theme="light">
    <div class="container-xl">
      <a class="" href="/lms"><img src="/img/png/logo-no-background.png" alt="" style = "height: 35px; width: 40px; margin-right: 15px "></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto ">
          <li class="nav-item">
            <a class="nav-link font_si nut text-white" aria-current="page" href="/lms" style = 'margin-right: 6px;'>Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_si text-white" href="/add-book">Sách</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_si text-white" href="/add-book">Thêm sách</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_si text-white" href="/user">Người dùng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_si text-white" href="/user/add-user">Thêm người dùng</a>
          </li>
        </ul>
        
        <div class = "d-flex justify-content-center align-items-center gap-3">
          <a href="/login" class = "text-white font_si "> Login</a>
          <a href="/signup" class = "text-white text-decoration-none px-2 py-1 rounded-4 font_si"
          style="background-color: rgb(169, 169, 169)">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
