    <section class = "blog" id = "blog">
      <div class = "container">
        <div class = "title">
          <h2>Blogs</h2>
          <p>Bài đăng gần đây</p>
        </div>
        <div class = "blog-content">
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "/img/sach_blog.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>Ngày 30 Tháng 6 năm 2024</span>
              <h2>Những cuốn sách hay nhất tôi từng đọc</h2>
              <p>Đây là một trong những bài viết thuộc series “The Chill List” – nơi tôi chia sẻ những gì mình thích nhất tới bạn đọc. Tất cả những bài viết trong series này đều được cập nhật thường xuyên</p>
              <a href = "#">Đọc thêm</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "img/nhung-cau-noi-triet-ly-ngan-gon.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>Ngày 2 Tháng 7 năm 2024</span>
              <h2>"Những Cuốn Sách Hay Nhất Về Triết Lý"</h2>
              <p>Cho đến ngày hôm nay, Ain’t No Makin’ It (tạm dịch: Không Thể Làm Được) của Jay MacLeod vẫn là cuốn sách tạo cảm hứng lớn nhất cho sự nghiệp nghiên cứu của tôi. Qua quá trình nghiên cứu nhiều năm về hai nhóm thanh niên lao động nghèo,</p>
              <a href = "#">Đọc thêm</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "img/mat-biecflim.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>Ngày 4 Tháng 7 năm 2024</span>
              <h2>"Phân Tích Chủ Đề Trong Mắt biếc"</h2>
              <p>"Mắt Biếc" của Nguyễn Nhật Ánh là một câu chuyện đẹp về tình yêu đơn phương, tuổi trẻ và những khát khao không thành hiện thực. Nhân vật Ngạn với tình yêu bền bỉ nhưng đầy đau khổ dành cho Hà Lan đã chạm đến trái tim của nhiều độc giả. Cuốn sách không chỉ là một bản tình ca buồn mà còn là sự phản ánh sâu sắc về con người và cuộc sống.</p>
              <a href = "#">Đọc thêm</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "img/book-of-life.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>Ngày 4 Tháng 7 năm 2024</span>
              <h2>Sách Đã Thay Đổi Cuộc Đời Tôi Như Thế Nào</h2>
              <p>Sách đã thay đổi tôi bằng cách mở rộng kiến thức, cho phép tôi khám phá thế giới và hiểu biết sâu sắc về nhiều lĩnh vực. Nhờ sách, tôi phát triển tư duy phản biện, học cách nhìn nhận vấn đề từ nhiều góc độ khác nhau</p>
              <a href = "#">Đọc thêm</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "img/book-in-life.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>Ngày 7 Tháng 7 năm 2024</span>
              <h2>Ứng Dụng Kiến Thức Từ Sách Vào Cuộc Sống Thực Tế</h2>
              <p>Ứng dụng kiến thức từ sách vào cuộc sống thực tế là việc biến lý thuyết thành hành động hữu ích. Đọc sách cung cấp không chỉ kiến thức mà còn là những kỹ năng và tư duy mới, giúp cải thiện hiệu suất làm việc và giải quyết vấn đề hiệu quả hơn.<p>
              <a href = "#" style="color: black;">Đọc thêm</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "img/aoyama-gosho.png" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Phỏng Vấn Tác Giả Aoyama-Gosho</h2>
              <p>Phỏng vấn tác giả Aoyama-Gosho là cơ hội quý giá để khám phá những câu chuyện và suy nghĩ sâu sắc đằng sau các tác phẩm văn học. Thông qua những cuộc trò chuyện này, độc giả không chỉ được biết thêm về quá trình sáng tác và nguồn cảm hứng mà còn có dịp hiểu rõ hơn về triết lý sống và quan điểm cá nhân của tác giả.</p>
              <a href = "#">Đọc thêm </a>
            </div>
          </div>
          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of blog -->